on init
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1
    setprop ro.hardware.gatekeeper beanpod

    # pstore/ramoops previous console log
    mount pstore pstore /sys/fs/pstore nodev noexec nosuid
    chown system log /sys/fs/pstore/console-ramoops
    chmod 0440 /sys/fs/pstore/console-ramoops
    chown system log /sys/fs/pstore/console-ramoops-0
    chmod 0440 /sys/fs/pstore/console-ramoops-0
    chown system log /sys/fs/pstore/pmsg-ramoops-0
    chmod 0440 /sys/fs/pstore/pmsg-ramoops-0

on fs && property:ro.debuggable=0
    # distinguish USB shoulde connect or not, i.e. CDP vs SDP
    write /sys/class/udc/${sys.usb.controller}/device/cmode 2
    # set charging free due to it wait for USB activation
    start adbd

on fs
    # Mount persist so TEE can access RPMB data
    wait /dev/block/by-name/persist
    mount ext4 /dev/block/by-name/persist /persist rw
    mount ext4 /dev/block/by-name/persist /mnt/vendor/persist rw

on post-fs
    # Create TEE directories to prevent deadlock
    mkdir /data/vendor 0755 system system
    mkdir /data/vendor/thh 0755 system system
    mkdir /data/vendor/thh/system 0755 system system
    mkdir /data/vendor/thh/tee_00 0755 system system
    mkdir /data/vendor/thh/tee_01 0755 system system
    mkdir /data/vendor/thh/tee_02 0755 system system
    mkdir /data/vendor/thh/tee_03 0755 system system
    mkdir /data/vendor/thh/tee_04 0755 system system
    mkdir /data/vendor/thh/tee_05 0755 system system
    mkdir /data/vendor/thh/tee_06 0755 system system
    mkdir /data/vendor/thh/tee_07 0755 system system
    mkdir /data/vendor/thh/tee 0755 system system
    mkdir /data/vendor/thh/tee/tas 0755 system system
    mkdir /data/vendor/thh/tee_08 0755 system system
    mkdir /data/vendor/thh/tee_09 0755 system system
    mkdir /data/vendor/thh/tee_0A 0755 system system
    mkdir /data/vendor/thh/tee_0B 0755 system system
    mkdir /data/vendor/thh/tee_0C 0755 system system
    mkdir /data/vendor/thh/tee_0D 0755 system system
    mkdir /data/vendor/thh/tee_0E 0755 system system
    mkdir /data/vendor/thh/tee_0F 0755 system system
    mkdir /data/vendor/thh/ta 0755 system system
    mkdir /data/vendor/thh/tee_log 0755 system system
    mkdir /data/vendor/key_provisioning 0771 system system
    mkdir /data/vendor/gatekeeper 0771 system system

    mkdir /mnt/vendor 0755 system system
    mkdir /mnt/vendor/persist 0771 system system
    mkdir /persist 0771 system system
    
    mkdir /mnt/vendor/persist/rpmb 0771 system system
    mkdir /persist/rpmb 0771 system system
    mkdir /vendor/persist 0771 system system
    mkdir /vendor/persist/rpmb 0771 system system

    # Support A/B feature for EMMC and UFS boot region
    wait /dev/block/mmcblk0boot0 2
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b


    # Support A/B feature for combo emmc and ufs OTA update
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_emmc_b
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_ufs_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_ufs_b

    symlink /dev/block/mapper/pl_a /dev/block/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/by-name/preloader_raw_b
    symlink /dev/block/mapper/pl_a /dev/block/platform/bootdevice/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/platform/bootdevice/by-name/preloader_raw_b

    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils


